$forko-colors: null !default;
$forko-size-scale: null !default;

@use 'get-color' with (
  $forko-colors: $forko-colors,
);

@use 'get-size' with (
  $forko-size-scale: $forko-size-scale,
);

@use 'get-utility-value';
