@use "sass:map";
@use 'workers/cycle';
@use 'workers/generate-css-vars';
@use '../mixins/mixins';

/// Accept config as a parameter, with fallback to default
$forko-config: null !default;
$generate-css-vars: null !default;
$generate-utility-classes: null !default;
$css-vars: map.get($forko-config, 'css-vars');

/// Run the vars generator, regardless of whether they are defined,
/// but only if they are enabled
@if ($generate-css-vars == true) {
  @include generate-css-vars.generate-css-vars($css-vars);
}

/// Only run if there should be an output
@if ($generate-utility-classes == true) {
  // Generate utility classes
  @include mixins.generate-utility-classes();
}
